**/*RESET*/
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: Arial,sans-serif; background: #f5f5f5;}
/*HEADER BLEU*/
header{background: #002366; color: white;}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
}
.top-bar h1{font-size: 24px;}
.search{display: flex;}
.search input{padding: 8px; width: 250px; border: none; border-radius: 4px 0 0 4px;}
.search button{padding: 8px 12px; border: none; background: #ff9900; border-radius: 0 4px 4px 0; cursor: pointer;}
.icons span{margin-left: 20px; cursor: pointer;}
nav{
    background: #001a4d;
    padding: 10px 30px;
    display: flex;
    gap: 25px;
}
nav a{color: white; text-decoration: none; font-weight: bold;}
/*BANNIERE*/
.banniere{
    background: linear-gradient(90deg, #002366,#0056b3);
    color: white;
    text-align: center;
    padding: (5Opx 20px);

}

/*PRODUIT*/
.container{max-width: 1200px; margin: 30px auto; padding: 0 20px;}
.container h2{ margin-bottom: 20px;}
.grille-produits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    max-width: 100%;
    
    gap: 20pX;
     padding: 20px ;
     box-sizing: border-box;
                      
    margin: 0 auto;
    align-items: stretch;
    
}
.carte-produit{
    background: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    
    
    display: flex;
    flex-direction: column;
    width: 100%;
}
.carte-produit:hover{transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.carte-produit h3 {min-height: 45px; font-size: 16px;}
.prix{font-size: 20px; font-weight: bold; color: #e63946;}
.ville{color: #666; font-size: 14px; margin-bottom: 10px;}
.carte-produit button{
    background: #002366;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-top: auto;
}
.carte-produit button:hover{background: #001a4d;}
.carte-produit img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    
}
/*FOOTER*/
footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.icons i, nav i, button i{
    margin-right: 6px;
}
/*RESPONSIVE*/
@media(max-width: 768px) {
    .top-bar{flex-direction: column; gap: 10px; }
    .search input{width: 180px;}
    nav{flex-wrap: wrap; justify-content: center;}
    
}
.btn-whatsapp{
    background: #25D366;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    margin-top: 10px;
}
.btn-whatsapp img{
    width: 22px;
    height: 22px;
}
.btn-whatsapp:hover{
    background: #1ebe57;
}
